
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    float: right;
    align-items: center;
}
.header svg{
    width: 24px;
    height: 24px;
    color: rgb(95, 99, 104);
}

.header a{
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: #191919;
    padding-right: 1rem;
    text-align: right;
    cursor: pointer;
}

.header button{
    background-color: rgb(26, 115, 232);
    color: white;
    padding: 9px 23px;
    margin: 0px 8px;
    border-radius: 4px;
    border: none;
}